@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: black;
    font-family: 'Inter', sans-serif;
}

.glass-panel {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.neon-glow {
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.3);
}

.neon-text {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.5);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00f3ff;
}